In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import csv
from sqlalchemy import create_engine, Integer, String, Float

# from config import *
# %config Completer.use_jedi = False

In [7]:
csv_file = "Life Expectancy Data.csv"
life_expectancy_df = pd.read_csv(csv_file)
life_expectancy_df.reset_index()
life_expectancy_df.head()

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [8]:
life_expectancy_df = life_expectancy_df[["Country","Year","Life Expectancy","Adult Mortality","BMI","GDP","Population","Polio","HIV/AIDS"]]
life_expectancy_df

,Country,Year,Life Expectancy,Adult Mortality,BMI,GDP,Population,Polio,HIV/AIDS
0,Afghanistan,2015,65.0,263.0,19.1,584.259210,33736494.0,6.0,0.1
1,Afghanistan,2014,59.9,271.0,18.6,612.696514,327582.0,58.0,0.1
2,Afghanistan,2013,59.9,268.0,18.1,631.744976,31731688.0,62.0,0.1
3,Afghanistan,2012,59.5,272.0,17.6,669.959000,3696958.0,67.0,0.1
4,Afghanistan,2011,59.2,275.0,17.2,63.537231,2978599.0,68.0,0.1
...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,44.3,723.0,27.1,454.366654,12777511.0,67.0,33.6
2934,Zimbabwe,2003,44.5,715.0,26.7,453.351155,12633897.0,7.0,36.7
2935,Zimbabwe,2002,44.8,73.0,26.3,57.348340,125525.0,73.0,39.8
2936,Zimbabwe,2001,45.3,686.0,25.9,548.587312,12366165.0,76.0,42.1
2937,Zimbabwe,2000,46.0,665.0,25.5,547.358879,12222251.0,78.0,43.5

In [9]:
life_clean_df = life_expectancy_df.sort_values(by=["Country","Year"])
life_clean_df.reset_index(drop=True)

,Country,Year,Life Expectancy,Adult Mortality,BMI,GDP,Population,Polio,HIV/AIDS
0,Afghanistan,2000,54.8,321.0,12.2,114.560000,293756.0,24.0,0.1
1,Afghanistan,2001,55.3,316.0,12.6,117.496980,2966463.0,35.0,0.1
2,Afghanistan,2002,56.2,3.0,13.0,187.845950,21979923.0,36.0,0.1
3,Afghanistan,2003,56.7,295.0,13.4,198.728544,2364851.0,41.0,0.1
4,Afghanistan,2004,57.0,293.0,13.8,219.141353,24118979.0,5.0,0.1
...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2011,54.9,464.0,29.9,839.927936,14386649.0,93.0,13.3
2934,Zimbabwe,2012,56.6,429.0,3.3,955.648466,1471826.0,95.0,8.8
2935,Zimbabwe,2013,58.0,399.0,3.8,111.227396,155456.0,95.0,6.8
2936,Zimbabwe,2014,59.2,371.0,31.3,127.474620,15411675.0,92.0,6.3
2937,Zimbabwe,2015,67.0,336.0,31.8,118.693830,15777451.0,88.0,6.2

In [10]:
rds_connection_string = "{}:{}@localhost:5432/Life_Expectancy".format(username,password)

engine = create_engine(f'postgresql://{rds_connection_string}')

NameError: name 'username' is not defined