In [163]:
%config Completer.use_jedi = False

In [164]:
import pandas as pd
import csv
from sqlalchemy import Integer, String, Float, Column
from sqlalchemy.orm import Session

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base

import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection("Flask.py/life_expectancy.db")
    
    
from flask import Flask, jsonify    

engine = create_engine('sqlite:///Flask.py/life_expectancy.db')

# from config import *
# %config Completer.use_jedi = False

2.6.0

In [165]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [166]:
csv_file = "Life Expectancy Data.csv"
life_expectancy_df = pd.read_csv(csv_file)
life_expectancy_df.reset_index()
life_expectancy_df.head()

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [167]:
life_expectancy_df = life_expectancy_df[["Country","Year","Life Expectancy","Adult Mortality","BMI","GDP","Population","Polio","HIV/AIDS","Hepatitis B","Measles"]]
life_expectancy_df

,Country,Year,Life Expectancy,Adult Mortality,BMI,GDP,Population,Polio,HIV/AIDS,Hepatitis B,Measles
0,Afghanistan,2015,65.0,263.0,19.1,584.259210,33736494.0,6.0,0.1,65.0,1154
1,Afghanistan,2014,59.9,271.0,18.6,612.696514,327582.0,58.0,0.1,62.0,492
2,Afghanistan,2013,59.9,268.0,18.1,631.744976,31731688.0,62.0,0.1,64.0,430
3,Afghanistan,2012,59.5,272.0,17.6,669.959000,3696958.0,67.0,0.1,67.0,2787
4,Afghanistan,2011,59.2,275.0,17.2,63.537231,2978599.0,68.0,0.1,68.0,3013
...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,44.3,723.0,27.1,454.366654,12777511.0,67.0,33.6,68.0,31
2934,Zimbabwe,2003,44.5,715.0,26.7,453.351155,12633897.0,7.0,36.7,7.0,998
2935,Zimbabwe,2002,44.8,73.0,26.3,57.348340,125525.0,73.0,39.8,73.0,304
2936,Zimbabwe,2001,45.3,686.0,25.9,548.587312,12366165.0,76.0,42.1,76.0,529
2937,Zimbabwe,2000,46.0,665.0,25.5,547.358879,12222251.0,78.0,43.5,79.0,1483

In [168]:
life_df = life_expectancy_df.sort_values(by=["Country","Year"])

life_clean_df = life_df.dropna()

life_clean_df.reset_index(drop=True)

,Country,Year,Life Expectancy,Adult Mortality,BMI,GDP,Population,Polio,HIV/AIDS,Hepatitis B,Measles
0,Afghanistan,2000,54.8,321.0,12.2,114.560000,293756.0,24.0,0.1,62.0,6532
1,Afghanistan,2001,55.3,316.0,12.6,117.496980,2966463.0,35.0,0.1,63.0,8762
2,Afghanistan,2002,56.2,3.0,13.0,187.845950,21979923.0,36.0,0.1,64.0,2486
3,Afghanistan,2003,56.7,295.0,13.4,198.728544,2364851.0,41.0,0.1,65.0,798
4,Afghanistan,2004,57.0,293.0,13.8,219.141353,24118979.0,5.0,0.1,67.0,466
...,...,...,...,...,...,...,...,...,...,...,...
1772,Zimbabwe,2011,54.9,464.0,29.9,839.927936,14386649.0,93.0,13.3,94.0,0
1773,Zimbabwe,2012,56.6,429.0,3.3,955.648466,1471826.0,95.0,8.8,97.0,0
1774,Zimbabwe,2013,58.0,399.0,3.8,111.227396,155456.0,95.0,6.8,95.0,0
1775,Zimbabwe,2014,59.2,371.0,31.3,127.474620,15411675.0,92.0,6.3,91.0,0
1776,Zimbabwe,2015,67.0,336.0,31.8,118.693830,15777451.0,88.0,6.2,87.0,0

In [169]:
table_name = 'life'


life_clean_df.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index=False,
    chunksize=500,
    dtype={
        "Country": String,
        "Year": Integer,
        "Life_Expectancy": Float,
        "Adult_Mortality": Float,
        "BMI": Float,
        "GDP": Float,
        "Population": Float,
        "Polio": Float,
        "HIV_AIDS": Float,
        "Hepatitis_B": Float,
        "Measles": Float
    }
)

In [170]:
results = engine.execute("SELECT * FROM life")
pd.DataFrame(results).rename(columns = {0:'Country',1:'Year',2:'Life_Expectancy',3:'Adult_Mortality',4:'BMI' ,5:'GDP' ,6:'Population',7:'Polio' ,8:'HIV_AIDS' ,9:'Hepatitis_B' ,10:'Measles'})

,Country,Year,Life_Expectancy,Adult_Mortality,BMI,GDP,Population,Polio,HIV_AIDS,Hepatitis_B,Measles
0,Afghanistan,2000,54.8,321.0,12.2,114.560000,293756.0,24.0,0.1,62.0,6532.0
1,Afghanistan,2001,55.3,316.0,12.6,117.496980,2966463.0,35.0,0.1,63.0,8762.0
2,Afghanistan,2002,56.2,3.0,13.0,187.845950,21979923.0,36.0,0.1,64.0,2486.0
3,Afghanistan,2003,56.7,295.0,13.4,198.728544,2364851.0,41.0,0.1,65.0,798.0
4,Afghanistan,2004,57.0,293.0,13.8,219.141353,24118979.0,5.0,0.1,67.0,466.0
...,...,...,...,...,...,...,...,...,...,...,...
1772,Zimbabwe,2011,54.9,464.0,29.9,839.927936,14386649.0,93.0,13.3,94.0,0.0
1773,Zimbabwe,2012,56.6,429.0,3.3,955.648466,1471826.0,95.0,8.8,97.0,0.0
1774,Zimbabwe,2013,58.0,399.0,3.8,111.227396,155456.0,95.0,6.8,95.0,0.0
1775,Zimbabwe,2014,59.2,371.0,31.3,127.474620,15411675.0,92.0,6.3,91.0,0.0
1776,Zimbabwe,2015,67.0,336.0,31.8,118.693830,15777451.0,88.0,6.2,87.0,0.0